<div class="d-flex justify-content-center">
  <div class=" d-flex align-items-stretch flex-column mb-3" style="height: 200px; width: 50%">
    <h5>Edit your expense</h5>
    <small class="mb-3">* Required field</small>

    <form action="/records/{{record._id}}?_method=PUT" method="POST"
      class="d-flex align-items-center flex-column mb-3 form-control ">
      <div class="form-group col-8 mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name&#42;</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" placeholder="Expense Name"
            value="{{record.name}}" required>
        </div>
      </div>

      <div class="form-group col-8 mb-3">
        <label for="date" class="col-sm-2 col-form-label">Date&#42;</label>
        <input type="date" id="date" class="form-control form-control-sm" name="date" aria-describedby="date"
          aria-label="date" placeholder="2020/xx/xx" max="9999-12-31" value="{{record.date}}" required>
      </div>

      <div class="form-group col-8 mb-3">
        <label for="category" class="col-sm-2 col-form-label">Category&#42;</label>
        <select class="form-select form-select-sm" id="category" name="category" aria-label="category"
          aria-label="category" value="{{record.category}}" required>
          <option disabled>Filter Category...</option>
          <option {{#if (eq record.category 'Property' )}} selected {{/if}} value="Property">Property</option>
          <option {{#if (eq record.category 'Transportation' )}}selected {{/if}} value="Transportation">Transportation
          </option>
          <option {{#if (eq record.category 'Entertainment' ) }} selected {{/if}} value="Entertainment">Entertainment
          </option>
          <option {{#if (eq record.category 'Dining' )}} selected {{/if}} value="Dining">Dining</option>
          <option {{#if (eq record.category 'Other' )}} selected {{/if}} value="Other">Other</option>
        </select>
      </div>

      <div class="form-group col-8 mb-3">
        <label for="amount" class="col-sm-2 col-form-label">Amount&#42;</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="amount" name="amount" placeholder="Expense Amount"
            value="{{record.amount}}" required>
        </div>
      </div>
      <div class="form-group col-8 mb-3">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
        <a href="/">Return</a>
      </div>

    </form>


  </div>
</div>